html {
  background-color: #aaF; }

header h1 {
  width: 310px;
  color: #444;
  font-size: 80%;
  padding: 5px; }

.desaturated-sun {
  position: absolute;
  top: 10px;
  right: 20px; }

.stem {
  position: absolute;
  bottom: 10px;
  left: 100px;
  height: 200px; }

#tree-crown .leaves {
  position: absolute;
  bottom: 180px;
  left: 20px;
  width: 280px;
  height: 120px; }
#tree-crown .johnny {
  position: absolute;
  bottom: 225px;
  left: 250px; }
#tree-crown .assunta {
  position: absolute;
  bottom: 185px;
  left: 255px; }
#tree-crown .kim {
  position: absolute;
  bottom: 180px;
  left: 240px; }
#tree-crown .dave {
  position: absolute;
  bottom: 165px;
  left: 115px; }
#tree-crown .marko {
  position: absolute;
  bottom: 150px;
  left: 135px; }
#tree-crown .mathias {
  position: absolute;
  bottom: 160px;
  left: 180px; }
#tree-crown .jason {
  position: absolute;
  bottom: 170px;
  left: 205px; }
#tree-crown .russ {
  position: absolute;
  bottom: 180px;
  left: 25px; }
#tree-crown .richard {
  position: absolute;
  bottom: 165px;
  left: 65px; }
#tree-crown .sam {
  position: absolute;
  bottom: 210px;
  left: 25px; }

.grass {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 60px; }

.wiggle {
  -webkit-animation-name: wiggle_left;
  -webkit-animation-duration: 6.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out; }

.wiggle_reverse {
  -webkit-animation-name: wiggle_right;
  -webkit-animation-duration: 6.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out; }

.jason_drop {
  -webkit-animation-name: jason_fall;
  -webkit-animation-duration: 2.5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in; }

.sam_drop {
  -webkit-animation-name: sam_fall;
  -webkit-animation-duration: 2.5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in; }

.kim_drop {
  -webkit-animation-name: kim_fall;
  -webkit-animation-duration: 2.5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in; }

.marko_drop {
  -webkit-animation-name: marko_fall;
  -webkit-animation-duration: 2.5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in; }

@-webkit-keyframes wiggle_left {
  0% {
    -webkit-transform: scale(1) rotate(0deg); }

  25% {
    -webkit-transform: scale(1) rotate(-30deg); }

  75% {
    -webkit-transform: scale(1) rotate(30deg); }

  100% {
    -webkit-transform: scale(1) rotate(0deg); } }

@-webkit-keyframes wiggle_right {
  0% {
    -webkit-transform: scale(1) rotate(0deg); }

  25% {
    -webkit-transform: scale(1) rotate(30deg); }

  75% {
    -webkit-transform: scale(1) rotate(-30deg); }

  100% {
    -webkit-transform: scale(1) rotate(0deg); } }

@-webkit-keyframes jason_fall {
  0% {
    bottom: 170px;
    left: 205px; }

  100% {
    bottom: 30px;
    left: 200px; } }

@-webkit-keyframes sam_fall {
  0% {
    bottom: 210px;
    left: 25px; }

  100% {
    bottom: 30px;
    left: 35px; } }

@-webkit-keyframes kim_fall {
  0% {
    bottom: 180px;
    left: 240px; }

  100% {
    bottom: 30px;
    left: 243px; } }

@-webkit-keyframes marko_fall {
  0% {
    bottom: 150px;
    left: 135px; }

  100% {
    bottom: 30px;
    left: 130px; } }
