%header
	= image_tag "sun.gif", :class => "desaturated-sun"
%section
	= image_tag "tree-stem.png", :class => "stem"
	= image_tag "tree-crown.png", :class => "leaves"
%footer
	= image_tag "grass.png", :class => "grass"